<form [formGroup]="form" class="normal-form" style="height: 300px" style="width: 300px">
  <mat-grid-list cols="1" rows="2" rowHeight="250px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="$key">
        <mat-form-field>
          <input formControlName="titre" matInput placeholder="Titre">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="description" matInput placeholder="Description">
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <button (click)="postClickCancel()">Annuler</button>
        <button (click)="postClick()">Poster</button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

</form>
