<form #postForm="ngForm" (ngSubmit)="createPost(postForm)">
  <input type="text" ngModel name="titre" required>
  <input type="text" ngModel name="description" required>
  <button type="submit" [disabled]="postForm.invalid">
    <span> Ajout</span>
  </button>
</form>
<ng-container *ngIf="(appState$ | async) as appState">
  <ng-container *ngSwitchCase="stateEnum.LOADED_STATE">
    <div *ngFor="let post of appState.appData.data.results">
      <p>{{post.titre}} -   {{post.description}}</p>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="stateEnum.ERROR_STATE">
    <h1>Error</h1>
  </ng-container>
</ng-container>


