<section id="banner">
  <div class="inner">
    <h2>ROADTRIPMAKER</h2>
    <p class="st">Le meilleur avis c'est le vôtre </p>
    <ul class="actions">
      <li><a href="#one" class="button big scrolly">En savoir plus</a></li>
    </ul>
  </div>
</section>

<section id="feed">
  <header>
    <h1 class="title">Feed</h1>
    <h2 class="subtitle">Surfez sur votre feed et ajoutez à votre RoadTrip les lieux recommandés par notre communauté</h2>
  </header>
  <ul class="items">
    <div class="item-content">
      <img src="/assets/Images/Cassis-1.png"/>
    </div>
    <div class="item-content">
      <img src="/assets/Images/Annecy.png"/>
    </div>
    <div class="item-content">
      <img src="/assets/Images/vignette-paris.png"/>
    </div>
    <div class="item-content">
      <img src="/assets/Images/Honfleur.png"/>
    </div>
  </ul>
</section>
<section class="test">
  <div id="col">
    <div class="pin1">
      <i class="fa fa-3x fa-map-marker" aria-hidden="true" style="color: darkred"></i>
    </div>
    <h3 class="title-3">Organisez votre voyage</h3>
    <div class="pin2">
      <i class="fa fa-3x fa-map-marker" aria-hidden="true" style="color: purple"></i>
    </div>
    <div class="pin3">
      <i class="fa fa-3x fa-map-marker" aria-hidden="true" style="color: teal"></i>
    </div>
    <div class=map-text>
      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
        ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</p>
    </div>
  </div>
</section>
