<div class="map" id="map" class="match-parent"></div>


<div>

</div>

<img class="photo-feed"
     src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Tour_Eiffel_Wikimedia_Commons.jpg/260px-Tour_Eiffel_Wikimedia_Commons.jpg"
     (click)="createMark(2.294481, 48.858370)">


<img class="photo-feed" src="https://upload.wikimedia.org/wikipedia/commons/d/d4/DunePyla.JPG"
     (click)="createMark(-1.213334, 44.589652)">
<img class="photo-feed"
     src="https://upload.wikimedia.org/wikipedia/commons/7/78/Mont-Saint-Michel_vu_du_ciel.jpg"
     (click)="createMark(-1.5114, 48.636)">

