<!DOCTYPE html>
<html>
<head style="text-align: center">
  <title>Road Trip Maker</title>
  <button id="RoadTripMaker">RoadTripMaker</button>


</head>
<body>

<div style="height:240px;width:320px;overflow:scroll; text-align: center" >
  <li class="list-group-item">
  <img src="../../assets/15m.jpg" alt="Sample image"><br>
  <img src="../../assets/16m.jpg" alt="Sample image">
  </li>
</div>
<button id="monBtn"
        class="btn"><img src="../../assets/rsz_world.png">
        (click = "onItineraire")
</button>
</body>
</html>




