.navbar{
  justify-content: space-between;
}
.logo-item{
  padding-left: 1em;
  width:62px;
  height:60px;
}
#header {
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: inherit;
  cursor: default;
  height: 60px;
  line-height: 72px;
  position: fixed;
  top: 0;
  width: 100%;
}
ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
  padding-right: 2em;
  float: right;
  justify-content: flex-end;
}

#header nav {
  height: inherit;
  line-height: inherit;
  vertical-align: middle;
  display: flex;
  align-self: flex-end;
}

#header nav > ul > li {
  border-radius: 0.5em;
  display: inline-block;
  margin-left: 2em;
  padding-left: 0;
}

#header nav > ul > li a {
  border: 0;
  color: inherit;
  display: inline-block;
}
