<header id="header">
  <nav class="navbar">
    <div class="logo">
      <img src="/assets/Images/logo_bis.png" class="logo-item">
    </div>
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active">
          <i class="fa fa-3x fa-home" aria-hidden="true"></i>
        </a>
      </li>
      <li><a routerLink="/map" routerLinkActive="active">
        <i class="fa fa-3x fa-map-marker" aria-hidden="true"></i>
      </a></li>
      <li><a routerLink="/feed" routerLinkActive="active">
        <i class="fa fa-3x fa-safari" aria-hidden="true"></i>
      </a></li>
      <li><a href=""><i class="fa fa-3x fa-user" aria-hidden="true"></i></a></li>
      <li>
        <app-btn-create-post></app-btn-create-post>
      </li>
    </ul>
  </nav>
</header>
