<header id="header">
  <nav id="nav">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/feed" routerLinkActive="active">Feed</a></li>
      <li><a href="">Mon trajet</a></li>
    </ul>
  </nav>
</header>

<!-- Banner -->
<section id="banner">
  <div class="inner">
    <h2>ROADTRIPMAKER</h2>
    <p>Le meilleur avis c'est le votre </p>
    <ul class="actions">
      <li><a href="#one" class="button big scrolly">En savoir plus</a></li>
    </ul>
  </div>
</section>

