.carousel {
  align-items: center;
  position: absolute;
  width: 40%;
  top: 15%;
  left: 30%;
  margin: 10px;
}

.carousel-items {
  overflow-x: hidden;
  margin-bottom: 10px;
}

.carousel-item {
  flex: 1 0 250px;
}

.card {
  border: 3px solid black;
  margin: 10px;
  text-align: center;
  align-items: center;
}

